@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
:root {
  --background: #FCFCFC;
  --foreground: rgb(51, 51, 51);
  --font-primary: #2E2E2E;
  --font-secondary: #565656;
  --newsletter-container: #2b3a49;
  --tags: #1561a8;
}

[data-theme=dark] {
  --background: #262e36;
  --foreground: rgb(240, 240, 240);
  --font-primary: rgb(245, 245, 245);
  --font-secondary: rgb(207, 207, 207);
  --newsletter-container: #2b3a49;
  --tags: #4aa8ff;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  background-color: var(--background);
  color: var(--font-primary);
}
body p {
  color: var(--font-secondary);
}
body p {
  line-height: 30px;
  font-size: 18px;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0px 0px 35px 0px;
}
@media screen and (min-width: 668px) {
  .hero {
    padding: 10% 5% 10% 5%;
  }
}
.hero h1 {
  text-align: right;
  font-size: 2.5em;
  margin: 0px;
  color: var(--font-primary);
}
@media screen and (min-width: 668px) {
  .hero h1 {
    font-size: 3em;
  }
}
.hero h2 {
  font-size: 2em;
  color: var(--font-secondary);
  margin: 0px;
}
.hero a {
  background-color: #0074e0;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  transition: ease-in-out 300ms;
}
.hero a:hover {
  background-color: #118cff;
}

.newsletter {
  padding-top: 30px;
  padding-bottom: 80px;
  color: white;
}
.newsletter #container {
  display: flex;
  flex-direction: column;
  padding: 50px 30px 50px 30px;
  background-color: var(--newsletter-container);
  border-radius: 5px;
}
.newsletter #message {
  align-self: center;
  text-align: center;
  margin: 0px;
  padding-bottom: 30px;
  max-width: 500px;
}
.newsletter #error-message {
  margin: 0px;
  padding: 20px 0px 0px 0px;
  color: rgb(247, 19, 19);
}
.newsletter form {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 668px) {
  .newsletter form {
    flex-direction: row;
  }
}
.newsletter form #button {
  width: auto;
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0074e0;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: ease-in-out 300ms;
}
.newsletter form #button:hover {
  background-color: #118cff;
}
.newsletter form #button.loading {
  background-color: #b3b3b3;
  cursor: not-allowed;
}
.newsletter form #button.success {
  background-color: #41bb66;
}
.newsletter form #input {
  flex-grow: 1;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  font-size: 16px;
  max-width: 600px;
  min-width: 70%;
  color: rgb(71, 71, 71);
  padding: 10px;
  text-align: center;
  background-color: #FCFCFC;
  font-style: italic;
  outline: 1px solid transparent;
  transition: ease-in-out 300ms;
}
.newsletter form #input:hover {
  outline: 1px solid #198ffd;
}
.newsletter form #input:focus {
  outline: 1px solid #198ffd;
}

.header {
  font-weight: 600;
  box-sizing: border-box;
  align-items: center;
  padding: 20px 30px 10px 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
}
.header #logo {
  width: 40px;
  height: 40px;
  margin-right: 40px;
  cursor: pointer;
}

.toggle-switch {
  margin-left: auto;
  width: 50px;
  height: 25px;
}
.toggle-switch label {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: var(--foreground);
  border-radius: 50px;
  cursor: pointer;
}
.toggle-switch label input {
  position: absolute;
  display: none;
}
.toggle-switch label .slider {
  position: absolute;
  width: 50px;
  height: 25px;
  border-radius: 50px;
}
.toggle-switch label .slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  box-shadow: inset 8px 0px 0px 0px var(--background);
  transition: 400ms;
}
.toggle-switch label input:checked + .slider::before {
  transform: translateX(25px);
  background-color: var(--background);
  box-shadow: none;
}
.toggle-switch label input:checked + .slider {
  background-color: var(--foreground);
}

#nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 30px;
}

.navigation ul {
  padding: 0px;
  margin: 0px;
  gap: 30px;
}
.navigation ul li {
  list-style-type: none;
}
.navigation ul li a {
  text-decoration: none;
  color: inherit;
}
.navigation #nav-button {
  vertical-align: middle;
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
}
.navigation #nav-button svg {
  vertical-align: middle;
  stroke: var(--foreground);
  height: 40px;
  width: 40px;
}
.navigation .navigation-tray {
  transition: max-height ease-in-out 500ms, padding ease-in-out 500ms;
  overflow: hidden;
  max-height: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  background-color: var(--background);
  box-shadow: 0px 50px 40px 0px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--foreground);
  position: absolute;
  box-sizing: border-box;
  top: 70px;
  left: 0px;
  width: 100%;
  z-index: 10;
}
.navigation .navigation-tray.entered {
  max-height: 1000px;
  padding: 40px;
}
.navigation .navigation-tray.exited {
  max-height: 0px;
}
.navigation .navigation-tray ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  flex-direction: column;
}

.page {
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
}
.page .content {
  padding: 30px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
}
.page .content .posts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tags div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  background-color: transparent;
  color: var(--tags);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.text {
  padding-top: 10px;
}
.text h2 {
  padding-top: 10px;
  margin: 0px;
  transition: ease-in-out 300ms;
}
.text h2:hover {
  text-decoration: underline;
  color: #3191EA;
  cursor: pointer;
}
.text p {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.article, .related-post-card, .brief-post-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 20px;
}

.all-articles {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.all-articles h2 {
  margin: 0px;
  font-size: 22px;
}

.brief-post-card {
  gap: 10px;
}
.brief-post-card .text {
  padding: 0px;
}
.brief-post-card .text h3 {
  padding-top: 5px;
  margin: 0px;
  transition: ease-in-out 300ms;
}
.brief-post-card .text h3:hover {
  text-decoration: underline;
  color: #3191EA;
  cursor: pointer;
}
.brief-post-card .text p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.code-block {
  font-family: "Fira Code", sans-serif;
}
.code-block span {
  background: var(--newsletter-container) !important;
}

.img {
  background-image: linear-gradient(135deg, rgba(78, 78, 78, 0.7), rgba(226, 226, 226, 0.7));
  border-radius: 5px;
  cursor: pointer;
}
.post a {
  color: var(--tags);
  font-style: italic;
  font-weight: 500;
}
.post p {
  word-wrap: break-word;
  width: 100%;
  white-space: normal;
}
.post h3 {
  font-size: 22px;
}
.post h4 {
  font-size: 20px;
}

.related-posts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.related-post-card .text {
  min-width: 70%;
}
@media screen and (min-width: 668px) {
  .related-post-card {
    flex-direction: row;
  }
}

.about-content {
  display: flex;
  flex-direction: column;
}

.highlight {
  color: var(--tags);
}

.footer {
  box-sizing: border-box;
  padding: 30px;
  margin: auto auto 0 auto;
  width: 100%;
  max-width: 1024px;
}
.footer #copyright {
  margin: 0px;
  font-size: 16px;
}

.highlighted-message {
  margin: 50px 20px 50px 20px;
  padding: 30px;
  position: relative;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #f84f4f;
}
.highlighted-message.grey {
  background-color: #64788d;
}
.highlighted-message.grey div {
  background-color: #64788d;
}
.highlighted-message p {
  font-style: italic;
  color: white;
  margin: 0px;
}
.highlighted-message div {
  position: absolute;
  background-color: #f84f4f;
  height: 40px;
  width: 40px;
  left: -20px;
  top: -20px;
  border: 4px solid var(--background);
  text-align: center;
  border-radius: 25px;
  font-size: 30px;
  font-weight: 600;
  color: var(--background);
}/*# sourceMappingURL=styles.css.map */