@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --background: rgb(240, 240, 240);
  --foreground: rgb(51, 51, 51);
  --font-primary: rgb(51, 51, 51);
  --font-secondary: rgb(68, 68, 68);
}

[data-theme='dark'] {
  --background: rgb(51, 51, 51);
  --foreground: rgb(240, 240, 240);
  --font-primary: rgb(245, 245, 245);
  --font-secondary: rgb(233, 233, 233);
}

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background);
  color: var(--font-primary);
}

body p {
  color: var(--font-secondary);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gap-10 {
  gap: 10px;
}

.flex-right {
  margin-left: auto;
}

.header {
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px 10px 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
}

.toggle-switch {
  width: 50px;
  height: 25px;
}

.toggle-switch label {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: var(--foreground);
  border-radius: 50px;
  cursor: pointer;
}

.toggle-switch label input {
  position: absolute;
  display: none;
}

.toggle-switch label .slider {
  position: absolute;
  width: 50px;
  height: 25px;
  border-radius: 50px;
}

.toggle-switch label .slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  -webkit-box-shadow: inset 8px 0px 0px 0px var(--background);
          box-shadow: inset 8px 0px 0px 0px var(--background);
  -webkit-transition: 400ms;
  transition: 400ms;
}

.toggle-switch label input:checked + .slider::before {
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
  background-color: var(--background);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.toggle-switch label input:checked + .slider {
  background-color: var(--foreground);
}

.navigation ul {
  padding: 0px;
  margin: 0px;
}

.navigation ul li {
  list-style-type: none;
}

.navigation ul li a {
  text-decoration: none;
  color: inherit;
}

.page {
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
}

.page .content {
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
}

.page .content .posts {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

@media screen and (min-width: 668px) {
  .page .content .posts {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  .page .content .posts :first-child {
    grid-column: span 2;
  }
}

@media screen and (min-width: 992px) {
  .page .content .posts {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
  }
  .page .content .posts :first-child {
    grid-column: span 3;
  }
}

.tags div {
  padding: 2px 10px 2px 10px;
  border-radius: 15px;
  background-image: linear-gradient(45deg, #ff9558, #bb00b2);
  color: white;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.post-card {
  height: 100%;
  gap: 10px;
}

.post-card .text {
  padding-top: 10px;
}

.post-card .text h2 {
  padding-top: 10px;
  margin: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.post-card .text h2:hover {
  text-decoration: underline;
  color: #6690c0;
  cursor: pointer;
}

.post-card .text p {
  padding-top: 10px;
  margin: 0px;
}

.code-block {
  font-family: "Fira Code", sans-serif;
}

.code-block button {
  border: none;
  width: 35px;
  height: 35px;
}

.code-block button svg {
  -webkit-transform: scale(130%);
          transform: scale(130%);
}

.img {
  background-image: linear-gradient(135deg, rgba(78, 78, 78, 0.7), rgba(226, 226, 226, 0.7));
  border-radius: 5px;
  cursor: pointer;
}

.post a {
  color: #6690c0;
  font-style: italic;
  font-weight: 500;
}

.related-posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
/*# sourceMappingURL=styles.css.map */