@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$color-link: #3191EA;

$content-width: 1024px;
$content-padding: 30px;

$button-color: #5A6EF2;
$button-hover-color: #118cff;

:root {
    // default theme
    --background: #FCFCFC;
    --foreground: rgb(51, 51, 51);
    --font-primary: #2E2E2E;
    --font-secondary: #565656;
    --newsletter-container: #2b3a49;
    --tags: #1561a8;
  }

  [data-theme='dark'] {
      // dark theme
      --background: #262e36;
      --foreground: rgb(240, 240, 240);
      --font-primary: rgb(245, 245, 245);
      --font-secondary: rgb(207, 207, 207);
      --newsletter-container: #2b3a49;
      --tags: #4aa8ff;
  }

@mixin portrait-phones {
    @media screen and (min-width: 668px) { @content; }
}

@mixin tablets {
    @media screen and (min-width: 768px) { @content; }
}

@mixin laptops {
    @media screen and (min-width: 992px) { @content; }
}

@mixin large-devices {
    @media screen and (min-width: 1200px) { @content; }
}

@mixin Themed($background, $font, $p) {
    background-color: $background;
    color: $font;
    
    p {
        color: $p;
    }
 }

 html {
    overflow-y: scroll;
 }

 body {
    margin: 0px;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;

    @include Themed(var(--background), var(--font-primary), var(--font-secondary));

    p {
        line-height: 30px;
        font-size: 18px;
    }

    overflow: hidden;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.hero {

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    position: relative;

    padding: 35px 0px 35px 0px;



    .__text {

        width: 80%;
        align-self: center;

        h1 {
            font-size: 1.5em;
            margin: 0px;
            color: var(--font-primary);
            padding-bottom: 20px;
            
            @include portrait-phones {
                font-size: 2.2em;
            }
    
        }
        h2 {
            font-size: 1.4em;
            font-weight: 400;
            color: var(--font-secondary);
            margin: 0px;
            padding-bottom: 30px;
            font-size: 18px;

        }

        a {
            background-color: $button-color;
            padding: 10px 20px 10px 20px;
            border-radius: 5px;
    
            width: fit-content;
            text-decoration: none;
            font-size: 16px;
            color: #ffffff;
    
            transition: ease-in-out 300ms;
    
            &:hover {
                background-color: $button-hover-color;
            }
        }
    }

    .__img {
        width: 100%;
        align-self: center;
        // transform: scale(140%);
        padding-top: 20px;  
    }


    @include portrait-phones {
        padding: 10% 0% 10% 0%;
    }

    @include tablets {
        flex-direction: row;
        padding-bottom: 130px;
        .__img {
            width: 60%;
            transform: scale(160%)  translateX(-7.5%);      
            align-self: center;
        }

        .__text {
            width: 40%;
        }
    }




}

.newsletter {
    
    padding-top: 30px;
    padding-bottom: 80px;
    color: white;

    #container {
        display: flex;
        flex-direction: column;
        padding: 50px 30px 50px 30px;
        background-color: var(--newsletter-container);
        border-radius: 5px;
    }

    #message {
        align-self: center;
        text-align: center;

        margin: 0px;
        padding-bottom: 30px;

        max-width: 500px;
    }

    #error-message {
        margin: 0px;
        padding: 20px 0px 0px 0px;
        color: rgb(247, 19, 19);
    }

    form {
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 20px;

        @include portrait-phones {
            flex-direction: row;
        }

        #button {
            
            width: auto;
            flex-grow: 1;
            
            padding: 10px;

            border-radius: 5px;
            border: none;

            background-color: $button-color;
            color: #ffffff;

            cursor: pointer;

            font-size: 16px;
            transition: ease-in-out 300ms;
            
            &:hover {
                background-color: $button-hover-color;
            }

            &.loading {
                background-color: #b3b3b3;
                cursor: not-allowed;
            }

            &.success {
                background-color: #41bb66;
            }
            
        }


    
        #input {
            flex-grow: 1;
            border-radius: 5px;
            border: none;
            box-shadow: none;
            font-size: 16px;
            max-width: 600px;
            min-width: 70%;
            color: rgb(71, 71, 71);
            padding: 10px;
            text-align: center;
            background-color: #FCFCFC;

            font-style: italic;
            
            outline: 1px solid transparent;
            transition: ease-in-out 300ms;

            &:hover {
                outline: 1px solid #198ffd;
            }

            &:focus {
                outline: 1px solid #198ffd;
            }
        }


    }



}

.navigation__padding {
    width: 100%;
    height: 0px;

    &.--active {
        height: 65px;
    }
}

.header {
    justify-content: center;

    z-index: 9999;
    width: 100%;

    border-bottom: 1px solid transparent;
    transition: border-bottom ease-in 200ms;

    &.sticky {

        position: fixed;
        top: 0;

        background-color: var(--background);
        width: 100%;
        align-self: center;
        border-bottom: 1px solid rgb(189, 189, 189);
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
    }
}

.header__content {

    width: 100%;
    max-width: $content-width;

    #logo {
        width: 35px;
        height: 35px;
        margin-right: 40px;
        cursor: pointer;
        vertical-align: middle;
    }

    font-weight: 500;
    box-sizing: border-box;
    
    padding: 15px $content-padding 15px $content-padding;

}

.toggle-switch {

    margin-left: auto;

    $width: 50px;
    $height: $width / 2;
    $gap: 3px;
    $inset: 8px;

    width: $width;
    height: $height;

    label {
        position: absolute;
        width: $width;
        height: $height;
        background-color: var(--foreground);
        border-radius: 50px;
        cursor: pointer;

        input {
            position: absolute;
            display: none;
          }

        .slider {
            position: absolute;
            width: $width;
            height: $height;
            border-radius: 50px;
        }

        .slider::before {
            content: "";
            position: absolute;
            top: $gap;
            left: $gap;
            width: $height - $gap * 2;
            height: $height - $gap * 2;
            border-radius: 50%;
            box-shadow: inset $inset 0px 0px 0px var(--background);
            transition: 400ms;
          }
    
          input:checked + .slider::before {
            transform: translateX($width / 2);
            background-color: var(--background);
            box-shadow: none;
          }
          
          input:checked + .slider {
            background-color: var(--foreground)
          }
    }
    
}

#nav-wrapper {
    display: flex;
    flex-direction: row;

    align-items: center;
    margin-left: auto;
    gap: 30px;
    
}

.navigation {
    
    ul {
        padding: 0px;
        margin: 0px;
        gap: 30px;

        li {
            list-style-type: none;
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    #nav-button {

        vertical-align: middle;
        background-color: transparent;
        border: none;
        padding: 0px;

        cursor: pointer;

        svg {
            vertical-align: middle;
            stroke: var(--foreground);
            height: 40px;
            width: 40px;
        }
    }

    .navigation-tray {

        transition: max-height ease-in-out 500ms,
                    padding ease-in-out 500ms;

        overflow: hidden;
        max-height: 0px;
        padding: 0px;

        &.entered {
            max-height: 1000px;
            padding: 40px;
        }

        &.exited {
            max-height: 0px;
        }

        display: flex;
        justify-content: center;

        background-color: var(--background);
        box-shadow: 0px 50px 40px 0px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid var(--foreground);

        position: absolute;
        box-sizing: border-box;
        top: 70px;
        left: 0px;
        width: 100%;
        z-index: 10;

        ul {
            width: fit-content;
            align-items: center;
            flex-direction: column;
        }
    }

}

.page {

    min-height: 100vh;
    max-height: fit-content;
    width: 100%;

    .content {

        padding: 30px;
        box-sizing: border-box;

        
        margin-left: auto;
        margin-right: auto; 


                
        width: 100%;
        max-width: $content-width;

        .posts {

            display: flex;
            flex-direction: column;
            gap: 30px;

        }

    }

}

.tags {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    div {
        width: fit-content;
        border-radius: 15px;
        background-color: transparent;
        color: var(--tags);
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
    }
}

.text {

    padding-top: 10px;

    h2 {
        padding-top: 10px;
        margin: 0px;

        transition: ease-in-out 300ms;

        &:hover {
            text-decoration: underline;
            color: $color-link;
            cursor: pointer;
        }
    }

    p {
        font-size: 16px;
        line-height: 20px;
        font-style: normal;
    }

}

.article {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 20px;
}

.all-articles {

    display: flex;
    flex-direction: column;
    gap: 30px;

    h2 {
        margin: 0px;
        font-size: 22px;
    }

}

.brief-post-card {
    @extend .article;
    gap: 10px;

    .text {

        padding: 0px;

        h3 {
            padding-top: 5px;
            margin: 0px;
    
            transition: ease-in-out 300ms;
    
            &:hover {
                text-decoration: underline;
                color: $color-link;
                cursor: pointer;
            }
        }

        p {
            margin-top: 5px;
            margin-bottom: 0px;
        }
    }
}

.code-block {

    font-family: "Fira Code", sans-serif;
    
     span {
        background: var(--newsletter-container) !important;
    }

}

.img {
    background-image: linear-gradient(135deg, rgba(78, 78, 78, 0.7), rgba(226, 226, 226, 0.7));
    border-radius: 5px;
    
    cursor: pointer;
}


.post {

    a {
        color: var(--tags);
        font-style: italic;
        font-weight: 500;
    }

    p {
        word-wrap:break-word;
        width: 100%;
        white-space: normal;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.2em;
    }
    
}

.related-posts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.related-post-card {

    @extend .article;

    .text {
        min-width: 70%;
    }

    @include portrait-phones {
        flex-direction: row;
    }
    
}

.about-content {
    display: flex;
    flex-direction: column;
}

.highlight {
    color: var(--tags);
}

.footer {

    box-sizing: border-box;    
    padding: 30px;

    margin: auto auto 0 auto;

    width: 100%;
    max-width: $content-width;

    #copyright {
        margin: 0px;
        font-size: 16px;
    }

}

.highlighted-message {

    $red: #f84f4f;
    $grey: #6b7b8b;

    &.grey {

        background-color: $grey;

        div {
            background-color: $grey;
        }

    }

    margin: 50px 20px 50px 20px;
    padding: 30px;
    position: relative;

    box-sizing: border-box;
    border-radius: 3px;
    background-color: $red;

    p {
        font-style: italic;
        color: white;
        margin: 0px;

    }

    div {

        position: absolute;
        background-color: $red;
        height: 40px;
        width: 40px;

        left: -20px;
        top: -20px;

        border: 4px solid var(--background);

        text-align: center;
        border-radius: 25px;
        font-size: 30px;
        font-weight: 600;
        color: var(--background);

    }

} 