$breakpoint-sm: 


.page {
    display: flex;
    background-color: beige;
    height: 1000px;
    
    @media screen and (max-width: 600px) {
        
    }
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.justify {
    justify-content: center;
}