@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-link: #3191EA;

$content-width: 1024px;
$content-padding: 30px;

$button-color: #5431E2;
$button-hover-color: #3191EA;


// Side Margin
$side-margin: 30px;
$side-margin-total: $side-margin * 2;

:root {
    // default theme
    --background: #F3F3F3;
    --foreground: rgb(51, 51, 51);
    --font-primary: #14123d;
    --font-secondary: #4F5D79;
    --newsletter-container: #2b3a49;
    --accent: #5431E2;
    --card-background: rgba(249, 249, 249, 0.8);
    --opaque-background: rgba(249, 249, 249, 0.25);
    --border: rgba(52, 61, 71, 0.2);
    --message: #E4E3F5;
  }

  [data-theme='dark'] {
      // dark theme
      --background: #262e36;
      --foreground: rgb(240, 240, 240);
      --font-primary: rgb(245, 245, 245);
      --font-secondary: rgb(224, 224, 224);
      --newsletter-container: #2b3a49;
      --accent: #6ab7ff;
      --card-background: rgba(52, 61, 71, 0.8);
      --opaque-background: rgba(38, 46, 54, 0.25);
      --border: rgba(249, 249, 249, 0.3);
      --message: #394252;
  }

  

@mixin large-phones {
    @media screen and (min-width: 425px) { @content; }
}

@mixin portrait-phones {
    @media screen and (min-width: 668px) { @content; }
}

@mixin tablets {
    @media screen and (min-width: 768px) { @content; }
}

@mixin laptops {
    @media screen and (min-width: 1024px) { @content; }
}

@mixin large-laptops {
    @media screen and (min-width: 1440px) { @content; }
}

@mixin big-screens {
    @media screen and (min-width: 2560px) { @content; }
}

// MIGHT BE UNNEEDED
@mixin Themed($background, $font, $p) {
    background-color: $background;
    color: $font;
    
    p {
        color: $p;
    }
 }

 html {
    overflow-y: scroll;
    font-family: "Poppins", sans-serif;
 }

 body {
    margin: 0px;
    width: 100%;
    @include Themed(var(--background), var(--font-primary), var(--font-secondary));
    overflow-x: hidden;
}

@mixin arrow-button($color) {
    font-size: 1em;
    font-weight: 500;
    line-height: 40px;
    vertical-align: middle;
    font-style: normal;

    text-decoration: none;
    color: $color;

    svg {
        vertical-align: middle;
        padding-left: 10px;
        fill: $color;
    }
}

h2 {
    font-weight: 600;
    font-size: 1.5em;
    line-height: 2em;
    color: var(--font-primary);

    @include large-phones {
        font-size: 2em;
        line-height: 2.5em;
    }
}

h3 {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 600;

    @include large-phones {
        font-size: 1.8em;
    }
}

h4 {
    font-size: 1.4em;
    line-height: 2em;
    font-weight: 600;
}

p {
    font-size: 1em;
    line-height: 1.8em;

    @include portrait-phones {
        font-size: 1.1em;
    }
}

a {
    color: var(--accent);
    font-style: italic;
    font-weight: 500;
}

b {
    font-weight: 600;
}

.invisible-label {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px;  
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.big-circle {
    position: absolute;

    filter: blur(40px);
    width: 45%;
    padding-bottom: 45%;

    left: 13%;
    top: 25%;
    transform: translate(-50%, -50%);

    border-radius: 100vw;
    background: linear-gradient(146.84deg, #5431E2 14.08%, var(--opaque-background) 84.73%);
    z-index: -1;

    @include tablets {
        filter: blur(80px);
    }
}

.medium-circle {

    position: absolute;
    filter: blur(25px);

    width: 26%;
    padding-bottom: 26%;

    border-radius: 100vw;

    left: 86%;
    top: 65%;
    transform: translate(-50%, -50%);
    
    background: linear-gradient(146.84deg, #FFB6B6 14.08%, var(--opaque-background) 84.73%);
    z-index: -1;

    @include tablets {
        filter: blur(50px);
    }
}

.small-circle {
    position: absolute;
    filter: blur(15px);

    width: 20%;
    padding-bottom: 20%;

    border-radius: 100vw;
    
    left: 62%;
    top: -5%;
    transform: translate(-50%, -50%);

    background: linear-gradient(149.11deg, #3191EA 14.08%, var(--opaque-background) 84.73%);
    z-index: -1;

    @include tablets {
        filter: blur(30px);
    }
}

.hero {

    display: flex;
    flex-direction: column;
    gap: 40px;

    width: calc(100% - $side-margin-total);
    margin: 0px $side-margin 0px $side-margin;

    padding: 10% 0% 10% 0%;

    position: relative;
    justify-content: center;

    &__text {

        position: relative;

        width: 100%;

        display: flex;
        flex-direction: column;

        align-items: center;
        text-align: center;

        gap: 40px;

        h1 {
            width: 100%;
            font-size: 1.9em;
            line-height: 1.5em;
            margin: 0px;
            color: var(--font-primary);
            font-weight: 700;
            // line-height: 96px;

            @include large-phones {
                font-size: 2.5em;
                width: 90%;
                font-weight: 600;
            }

            @include portrait-phones {
                font-size: 3em;
                width: 80%;
            }
            
            @include tablets {
                font-size: 4em;
            }
    
        }
        h2 {
            width: 100%;
            font-weight: 400;
            color: var(--font-secondary);
            margin: 0px;
            font-size: 1.1em;
            line-height: 1.5em;

            @include large-phones {
                width: 80%;
                line-height: 2em;
            }

            @include portrait-phones {
                font-size: 1.5em;
                width: 60%;
            }

        }

        @keyframes mouse_svg_animation {

            from {
                transform: translateY(0px);
            }
            to {
                transform: translateY(6px);
            }


        }

        &__buttons {

            display: flex;
            flex-direction: column;
            gap: 20px;

            @include large-phones {
                flex-direction: row;
                gap: 50px;
            }

            @include portrait-phones {
                gap: 100px;
            }

            &__start-reading {
                order: 1;
                margin: 0px;
                font-size: 1em;
                font-weight: 500;
                color: var(--accent);
                line-height: 40px;
                vertical-align: middle;
                svg {
                    vertical-align: middle;
                    padding-left: 10px;

                    .mouse_svg__outer {
                        stroke: var(--accent);
                        stroke-width: 2px;
                    }

                    .mouse_svg__wheel {
                        fill: var(--accent);
                        animation: 1500ms mouse_svg_animation infinite;
                    }
                }

                @include large-phones {
                    order: 0;
                }

            }

            &__about-me {
                @include arrow-button(var(--font-secondary));
            }


        }

    }

}

.newsletter {

    width: calc(100% - $side-margin-total);
    margin: 150px $side-margin 100px $side-margin;

    height: fit-content;

    background-color: var(--card-background);

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 40px;

    position: relative;

    .big-circle {
        top: 40%;
        left: 86%;
    }

    .medium-circle {
        width: 35%;
        padding-bottom: 35%;
        top: 85%;
        left: 5%;
    }

    .small-circle {
        top: 2%;
        left: 16%;
        z-index: 1;
        background: linear-gradient(149.11deg, #3191EA 12.1%, var(--card-background) 91.23%);
    }

    &__container {
        display: flex;
        flex-direction: column;
        padding: 30px 20px 30px 20px;

        @include large-phones {
            padding: 65px 40px 65px 40px;
        }

        @include tablets {
            padding: 65px 100px 65px 100px;
        }
    }

    &__heading {
        padding-bottom: 20px;
        margin: 0px;
        text-align: center;
    }
    

    &__message {
        align-self: center;

        font-weight: 400;
        font-size: 1em;
        line-height: 1.5em;
        text-align: center;

        padding-bottom: 32px;
        margin: 0px;
        color: var(--font-secondary);

        @include large-phones {
            font-size: 1.2em;
            line-height: 1.8em;
        }

        @include portrait-phones {
            font-size: 1.4em;
            line-height: 2em;
            padding-bottom: 64px;
        }

    }

    &__error-message {
        height: 25px;
        margin: 0px;
        padding: 20px 0px 0px 0px;
        color: rgb(247, 19, 19);
    }

    form {
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;

        @include portrait-phones {
            flex-direction: row;
        }

        #button {
            
            height: 50px;
            width: auto;
            flex-grow: 1;
            font-family: 'Poppins', sans-serif;

            padding: 10px;
            border-radius: 15px;
            border: none;
            font-weight: 500;
            background-color: $button-color;
            color: #ffffff;

            cursor: pointer;

            font-size: 16px;
            transition: ease-in-out 300ms;

            @include portrait-phones {
                height: 60px;
            }
            
            &:hover {
                background-color: $button-hover-color;
            }

            &.loading {
                background-color: #b3b3b3;
                cursor: not-allowed;
            }

            &.success {
                background-color: #41bb66;
            }
            
        }


        .email-container {
            flex-grow: 1;
            max-width: 600px;
            min-width: 75%;
            position: relative;
        }

        .email-icon {
            position: absolute;
            left: 13px;
            top: 13px;

            @include portrait-phones {
                left: 18px;
                top: 18px;

            }
        }

        #input {
            border-radius: 15px;
            height: 50px;
            box-shadow: none;
            color: rgb(71, 71, 71);
            padding: 10px;
            background-color: #FFFFFF;
            border: 1px solid #E3E3E3;
            width: 100%;

            font-family: 'Poppins', sans-serif;
            text-indent: 35px;
            font-size: 18px;

            box-sizing: border-box;

            font-style: italic;
            
            outline: 1px solid transparent;
            transition: ease-in-out 300ms;

            @include portrait-phones {
                height: 60px;
                text-indent: 50px;
            }

            &:hover {
                outline: 1px solid $button-color;
            }

            &:focus {
                outline: 1px solid $button-color;
            }
        }


    }



}

.header__padding {
    width: 100%;
    height: 64px;
}

.header {
    justify-content: center;

    position: fixed;
    top: 0;

    z-index: 9999;
    width: 100%;

    &.--active {
        backdrop-filter: blur(10px);
        border-bottom: 1px solid var(--border);
    }

    &.--open {
        @extend .--active;
    }
    
}

.header__content {

    flex-wrap: wrap;
    width: 100%;
    max-width: $content-width;

    #logo {
        width: 35px;
        height: 35px;
        margin-right: 40px;
        cursor: pointer;
        vertical-align: middle;
    }

    font-weight: 500;
    box-sizing: border-box;
    
    padding: 12px $content-padding 12px $content-padding;

    ul {
        padding: 0px;
        margin: 0px;
        gap: 30px;

        li {
            list-style-type: none;
            a {
                text-decoration: none;
                font-style: normal;
                color: inherit;
            }
        }
    }
}

.toggle-switch {

    margin-left: auto;

    $width: 50px;
    $height: $width / 2;
    $gap: 3px;
    $inset: 8px;

    width: $width;
    height: $height;

    label {
        position: absolute;
        width: $width;
        height: $height;
        background-color: var(--foreground);
        border-radius: 50px;
        cursor: pointer;

        input {
            position: absolute;
            display: none;
          }

        .slider {
            position: absolute;
            width: $width;
            height: $height;
            border-radius: 50px;
        }

        .slider::before {
            content: "";
            position: absolute;
            top: $gap;
            left: $gap;
            width: $height - $gap * 2;
            height: $height - $gap * 2;
            border-radius: 50%;
            box-shadow: inset $inset 0px 0px 0px var(--background);
            transition: 400ms;
          }
    
          input:checked + .slider::before {
            transform: translateX($width / 2);
            background-color: var(--background);
            box-shadow: none;
          }
          
          input:checked + .slider {
            background-color: var(--foreground)
          }
    }
    
}

#nav-wrapper {
    display: flex;
    flex-direction: row;

    align-items: center;
    margin-left: auto;
    gap: 30px;
    
}

.navigation {
    
    #nav-button {

        vertical-align: middle;
        background-color: transparent;
        border: none;
        padding: 0px;

        cursor: pointer;

        svg {
            vertical-align: middle;
            stroke: var(--foreground);
            height: 40px;
            width: 40px;
        }
    }

}

.navigation-tray {

    padding: 40px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    z-index: 10;

    ul {
        width: fit-content;
        align-items: center;
        flex-direction: column;
    }
}

.page {

    min-height: 100vh;
    max-height: fit-content;

    .content {

        // padding: 30px;
        box-sizing: border-box;

        
        margin-left: auto;
        margin-right: auto; 


                
        width: 100%;
        max-width: $content-width;

        .posts {

            display: flex;
            flex-direction: column;
            gap: 30px;

            width: calc(100% - $side-margin-total);
            margin: 0px $side-margin 0px $side-margin;

            .__all-button {
                @include arrow-button(var(--font-primary));
                align-self: flex-end;
            }

        }

    }

}

.tags {

    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;

    div {
        color: var(--accent);
        font-size: 16px;
        font-weight: 500;
    }
}

.text {

    padding-top: 10px;

    h2 {
        padding-top: 10px;
        margin: 0px;

        transition: ease-in-out 300ms;

        &:hover {
            text-decoration: underline;
            color: $color-link;
            cursor: pointer;
        }
    }

    p {
        font-size: 16px;
        line-height: 20px;
        font-style: normal;
    }

}

.article {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.all-articles {

    width: calc(100% - $side-margin-total);
    margin: 50px $side-margin 50px $side-margin;

    display: flex;
    flex-direction: column;
    gap: 30px;

    &__heading {
        font-size: 2.5em;
        line-height: 2.5em;
        align-self: center;
        font-weight: 600;
    }

    &__year {
        margin: 0px;
        font-size: 2em;
    }

}

// Not needed
.brief-post-card {
    @extend .article;
    gap: 10px;

    .text {

        padding: 0px;

        h3 {
            padding-top: 5px;
            margin: 0px;
    
            transition: ease-in-out 300ms;
    
            &:hover {
                text-decoration: underline;
                color: $color-link;
                cursor: pointer;
            }
        }

        p {
            margin-top: 5px;
            margin-bottom: 0px;
        }
    }
}

.code-block {

    font-family: "Fira Code", sans-serif;
    
     span {
        background: #202c42 !important;
        padding: 5px;
        border-radius: 10px !important;
    }

}

.img {
    background-image: linear-gradient(135deg, rgba(78, 78, 78, 0.7), rgba(226, 226, 226, 0.7));
    border-radius: 40px;
    
    cursor: pointer;
}


.post {

    &__front {

        width: calc(100% - $side-margin-total);
        margin: 50px $side-margin 50px $side-margin;

        @include portrait-phones {
            width: calc(100% - ($side-margin-total + 60px * 2));
            margin: 50px calc($side-margin + 60px) 50px calc($side-margin + 60px);
        }

        &__title {
            font-weight: 600;
            font-size: 2.5em;
            line-height: 1.5em;
            margin: 0px 0px 20px 0px;
        }
    
        &__description {
            margin: 0px 0px 20px 0px;
            font-size: 1.1em;
        }
    
        &__date {
            margin: 0px;
            font-size: 1.1em;

            span {
                font-weight: 600;
                color: var(--accent);
            }
        }
    }

    &__content {
        background-color: var(--card-background);
        box-sizing: border-box;
        padding: 30px;
        border-radius: 40px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

        @include portrait-phones {
            padding: 60px;
        }

        p {
            word-wrap:break-word;
            width: 100%;
            white-space: normal;
        }

        width: 100%;
        margin: 0px;

        @include portrait-phones {
            width: calc(100% - $side-margin-total);
            margin: 0px $side-margin 0px $side-margin;
        }

    }  
}

.related-posts {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: calc(100% - $side-margin-total);
    margin: 0px $side-margin 0px $side-margin;

    &__heading {
        margin: 0px;
        padding: 60px 0px 10px 0px;
    }

    &__card {

        @extend .article;
        cursor: pointer;
        
        width: auto;
    
        background-color: var(--card-background);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        padding: 30px 30px 30px 30px;
        border-radius: 40px;
    
        @include large-phones {
            padding: 40px;
        }

        &__description {
            margin: 0px;
        }
        
    }
}



.about__heading {
    font-size: 2.5em;
    line-height: 2.5em;
    text-align: center;
    font-weight: 600;

    margin-left: $side-margin;
    margin-right: $side-margin;
}

.about__content {

    width: calc(100% - $side-margin-total);
    margin: 0px $side-margin 0px $side-margin;

    display: flex;
    flex-direction: column;
    gap: 50px;

    box-sizing: border-box;
    background-color: var(--card-background);
    border-radius: 40px;
    padding: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    &__card {
        width: 100%;

        @include tablets {
            width: 50%;
        }

        p {
            word-wrap:break-word;
            width: 100%;
            white-space: normal;
        }
    }

    @include tablets {
        flex-direction: row;
    }
}

.highlight {
    color: var(--accent);
}

.footer {

    box-sizing: border-box;    
    padding: 30px;

    margin: auto auto 0 auto;

    width: 100%;
    max-width: $content-width;
    
    text-align: center;

    &__text {
        margin: 0px;
        font-size: 16px;
    }

}

.highlighted-message {

    font-style: italic;
    color: var(--font-primary);

    margin: 50px 0px 50px 0px;
    padding: 40px;
    border-radius: 40px;

    box-sizing: border-box;
    background-color: var(--message);
} 